@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  transition: 0.3s all;
  font-family: "Poppins", sans-serif;
}

@theme {
  --breakpoint-xs: 25rem;
  --breakpoint-xd: 85.25rem;
  --breakpoint-xv: 39.5rem;
  --breakpoint-xk: 27.5rem;
  --breakpoint-xb: 80.31rem;
  --breakpoint-xa: 40rem;
  --breakpoint-xq: 30rem;
}
